/* Mobile Menu */
.adminNav-mobile a{
    font-size: 2.5rem;
    color: $text-color;
}

/* Desktop Menu */
.adminNav-desktop {
    display: none;
}

.adminNav-desktop ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.adminNav-desktop li{
    height: 6rem;
    padding: 2.0rem 0;
}

.adminNav-desktop a {
    text-decoration: none;
    padding: 5px 10px;
    color: $text-color;
    font-size: 1.1rem;
}

.adminNav-desktop ul li:hover {
  border-bottom: 0.2rem solid rgb(100, 100, 100);
}

/* 768px and Greater than 768px */
@media screen and (min-width: 768px) {
    .adminNav-header {
        flex-direction: column;
        padding: 0;
    }

    .adminNav-header h5 {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    .adminNav-desktop {
        display: block;
    }

    .adminNav-mobile{
        display: none;
    }
}

/* 992px and Greater than 992px */
@media screen and (min-width: 992px) {
    .adminNav-header {
        padding: 0 6% 0 0;
        flex-direction: row;
        align-items: center;
    }

    .adminNav-header h5 {
        width: fit-content;
    }
}