.adminPage-row {
    display: flex;
    flex-flow: row wrap;
}

.adminPage-col{
    flex: 0 1 100%;

    // .card-header h4{
    //     padding: 1rem;
    // }
}

.admin-tab{
    display: flex;
    border: 1px solid rgb(230, 230, 230);
    border-bottom: 0;
    

    button {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    button:hover{
        background-color: rgba(220, 220, 220, 0.8);
    }
    button.tabmenu-active{
        background-color: white; 
        color: black;
    }
    .admin-tablinks{
        flex-grow: 1;
        color: gray;
        padding: 1rem 1rem 2rem 1rem;
        text-align: left;
    }

    .admin-tablinks-title{
        font-size: 0.7rem;
    }
    
    .admin-tablinks-price{
        font-size: 1.5rem;
    }
    
}

.admin-tab-body{
    border: 1px solid rgb(230, 230, 230);
    border-top: 0;
    padding: 0.5rem;
    min-height: 34rem;
}

#units-sold-content{
    display: none;
}
#orders-content{
    display: none;
}
#aov-content{
    display: none;
}

.tabcontent-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1rem;

    padding:1rem 0;

    select {
        border:none;
    }
}

#range-date{
    font-size: 0.7rem;
    color: grey;
}



/* 768px and Greater than 768px */
@media screen and (min-width: 768px) {
    .adminPage-col:first-child {
        flex: 0 1 100%;
    }
    .adminPage-col {
        flex: 1 0 40%;
    }
}