// Footer
footer {
    width: 100%;
    margin-top:2rem;
    padding: 1rem;

    box-shadow: 0px -5px 35px rgba(0, 0, 0, 0.1);

    /*FONT ShortHand: font-style font-size/line-height font-family*/
    font: normal 1rem / 1.4 $text-font-stack;
}

.fa-facebook-square{
    color: rgb(66, 103, 178);
}

.fa-youtube{
    color: rgb(196, 48, 43);
}

.fa-twitter{
    color: rgb(0, 172, 238);
}

.fa-cc-visa{
    color: rgb(26, 31, 113);
}

.fa-cc-mastercard{
    color: #EB001B;
}

.fa-cc-paypal{
    color: rgb(0, 121, 193);
}

.footer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    flex-grow: 1;
}

.footer-column { 
    // column width divider
    @include col(1);
    padding: 2% 5%;
}

/* Company information */
.company-info{
    color: grey;
    order: 1;
    padding: 30px 5%;
    display: flex;
    align-items: center;
}

.footer-title{
   font-size: 1rem;
}

.sns-link{
    font-size: 2.3rem;
    display: flex;
}

.sns-link > * {
    padding-right: 25px;
    color: black;
}

.payment-link{
    font-size: 2.3rem;
    display: flex;
}

.payment-link > * {
    padding-right: 25px;
}

@media screen and (min-width: 768px) {
    .footer-column {
        flex-grow: 1;
        @include col(2, 0, 2.5%);
    }
    .company-info{
        order: 0;
    }
}

@media screen and (min-width: 992px) {
    .footer-row {
        justify-content: center;
    }

    .footer-column {
        @include col(3, 0, 2.5%);
    }

    .company-info{
        @include col(0, 0, 33.33%);
        padding-top: 3rem;
        order: 1;
    }
}