
form {
  margin: auto;
  padding: 20px;
  padding-top: 40px;
  input {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  button {
    @include formButtons();
  }
}
