// Header

header {
    padding: 2% 6% 2% 0 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

header h5 {
    color: $text-color;
    background-color: $info;
    padding: 0.5rem 1% 0.5rem 6%;
    margin: 0;
}