.container-box{
    padding: 0 0.5rem;
}

.product-list-body{
    display: flex;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgb(230, 230, 230);

    .product-list-body-info{
        flex: 1 0 auto;
        line-height: 3;
        margin-left: 1rem;
    }
}

.product-list-body-info-unitprice{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 1rem;
}

.product-list-body-info-unitprice-icon{
    cursor: pointer;
}

.product-list-body-info-quantity-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.product-list-body-info-quantity-btn-left{
    border: none;
    background-color: white;
    
    border: 1px solid rgb(230, 230, 230);
    border-radius: 15px 0px 0px 15px;

    padding: 3px 8px;

    font-size: 1rem;
    color:rgb(180, 180, 180);

    cursor: pointer;
}
.product-list-body-info-quantity-btn-center {
    border: none;
    background-color: white;
    
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    
    padding: 3px 8px;

    font-size: 1rem;
}

.product-list-body-info-quantity-btn-right{
    border: none;
    background-color: white;
    
    border: 1px solid rgb(230, 230, 230);
    border-radius: 0px 15px 15px 0px;

    padding: 3px 8px;

    font-size: 1rem;
    color:rgb(180, 180, 180);

    cursor: pointer;
}
.total-price{
    text-align: right;
    margin-top: 2rem;
}


#place-order-btn{
    width: 100%;
    height: 45px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    background-color: black;
    cursor: pointer;

    margin-top: 15px;
    &:hover{
        background-color: rgb(31, 31, 31);
    }
}