.productForm-header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    font-weight: bolder;

    font-size: 1rem;

    div{
        text-align: center;
        flex: 1 0 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 1rem;
    }

    button{
        border: none;
        background-color: rgb(250, 250, 250)!important;
        cursor: pointer;
        padding: 0.5rem;
        transition: all 0.3s ease-in-out;
        margin: 0!important;
    }

    button:hover {
        background-color: rgb(230, 230, 230)!important;
    }
}

#warning-addproduct-input{
    width: 100%;
    opacity: 0%;
    height: 55px;
    overflow-x: hidden;
    background-color: yellow;
    color: red;
    text-align: center;
    font-size: 0.9rem;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}

.productForm-title{
    font-size: 1.5rem;
    font-weight: bolder;
}

.productForm-description{
    font-size: 1rem;
}

.productForm-body{
    // text-align: center;
    max-width: 500px;
    height: 100%;
    margin: auto;

    input{
        width: 100%;
        border: none;
        padding:0.5rem 0rem;
    }

    input:focus{
        outline: none;
    }

}

.productForm-body-item{
    margin-top: 2rem;
}

.productForm-body-item:nth-child(1){
    margin-top: -1rem;
}

.productForm-img-box{
    display: flex;
    color:$secondary;
    font-size: 0.8rem;

    .productForm-img-border{
        flex: 1 1 295px;
        height: 176px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        background-color: rgb(240, 240, 240);

        div {
            padding-right: 0.5rem;
        }
    }
}

.productForm-body-item-body {
    
    .productForm-body-item-body-items{
        display: flex;
        justify-content: space-between;
    
        padding: 1.2rem 0 0 0.3rem;

        border-bottom: 0.1rem solid rgb(230, 230, 230);

        height: 52px;

        label {
            font-size: 1rem;
            color: rgb(70, 70, 70);
        }
    
        input {
            width: 5rem;
            text-align: right;

            padding-right: 0.3rem;
        }

        button{
            font-size: 0.8rem;
            border: none;
            background-color: white;
            cursor: pointer;
            padding: 0 1rem;
            margin-bottom: 0.4rem;
            transition: all 0.3s ease-in-out;
        }
        button:hover{
            background-color: rgb(230, 230, 230);
        }

        .productForm-categories-item{
            background-color: rgb(230, 230, 230);
            font-size: 0.8rem;
            padding:0.2rem 1rem 0.4rem 1rem;
            margin-bottom: 0.4rem;
            margin-right: 1rem;
            border-radius: 2.5rem;
        }
    }

    .productForm-body-item-body-items-last-child{
        justify-content: start;
        flex-wrap: wrap;
        height: 100%;
    }

    #sale-price{
        display: none;
    }
}

#multiple-image-upload{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);

    margin-top: 32px;
}



.uploaded-images{
    position: relative;
    background-color: rgb(230, 230, 230);
    color: black;
    text-align: center;
    width: 110.75px;
    height: 110.75px;

    cursor: grab;
}

.uploaded-images:hover{
    #img-delete-btn{
        opacity: 100%;
    }
}

#img-delete-btn{
    opacity: 0;
    border-radius: 50%;
    // background-color: #f6f6f6;
    position: absolute;
    right:0px;
    top: 0px;
    transition: opacity .4s cubic-bezier(.645,.045,.355,1);
    width: 30px;
    height: 30px;

    button {
        font-weight: bolder;
        background-color: transparent;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    button:hover {
        color: red;
    }
}

.file-upload-label{
    background-color: rgb(230, 230, 230);
    color: black;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 50px;
    width: 110.75px;
    height: 110.75px;

    cursor: pointer;
}